.wrapper {
    padding: 25px 30px;
    background-color:rgb(251 245 237);
    gap: 30px 0px;
    display: flex;
    flex-direction: column;
}

.parallaxWrapper {
    position: relative;
    width: 100%;
    height: 100vh;
  }

